<!DOCTYPE html>
<html>
    <head>
        <title>Playgound</title>
        <link rel="stylesheet" href="static/css/style.css"></link>
    </head>
    <body>
        <p><h1>Welcome to the playground</h1></p>
        <hr>

        <form>
            <div class="features">
                <div>
                    <label for="v1">V1: </label>
                    <input type="text" name="v1" id="v1"><br><br>
                    <label for="v2">V2: </label>
                    <input type="text" name="v2" id="v2"><br><br>
                    <label for="v3">V3: </label>
                    <input type="text" name="v3" id="v3"><br><br>
                    <label for="v4">V4: </label>
                    <input type="text" name="v4" id="v4"><br><br>
                    <label for="v5">V5: </label>
                    <input type="text" name="v5" id="V5"><br><br>
                    <label for="v6">V6: </label>
                    <input type="text" name="v6" id="v6"><br><br>
                </div>
                <div>
                    <label for="v7">V7: </label>
                    <input type="text" name="v7" id="v7"><br><br>
                    <label for="v8">V8: </label>
                    <input type="text" name="v8" id="v8"><br><br>
                    <label for="v9">V9: </label>
                    <input type="text" name="v9" id="v9"><br><br>
                    <label for="v10">V10: </label>
                    <input type="text" name="v10" id="V10"><br><br>
                    <label for="v11">V11: </label>
                    <input type="text" name="v11" id="v11"><br><br>
                    <label for="v12">V12: </label>
                    <input type="text" name="v12" id="V12"><br><br>
                </div>
                <div>
                    <label for="v13">V13: </label>
                    <input type="text" name="v13" id="v13"><br><br>
                    <label for="v14">V14: </label>
                    <input type="text" name="v14" id="v14"><br><br>
                    <label for="v15">v15: </label>
                    <input type="text" name="v15" id="v15"><br><br>
                    <label for="v16">v16: </label>
                    <input type="text" name="v16" id="V16"><br><br>
                    <label for="v17">v17: </label>
                    <input type="text" name="v17" id="v17"><br><br>
                    <label for="v18">v18: </label>
                    <input type="text" name="v18" id="v18"><br><br>
                </div>
                <div>
                    <label for="v19">V19: </label>
                    <input type="text" name="v19" id="V19"><br><br>
                    <label for="v20">V20: </label>
                    <input type="text" name="v20" id="v20"><br><br>
                    <label for="v21">v21: </label>
                    <input type="text" name="v21" id="v21"><br><br>
                    <label for="v22">v22: </label>
                    <input type="text" name="v22" id="v22"><br><br>
                    <label for="v23">v23: </label>
                    <input type="text" name="v23" id="v23"><br><br>
                    <label for="v24">v24: </label>
                    <input type="text" name="v24" id="v24"><br><br>
                </div>
                <div>
                    <label for="v25">V25: </label>
                    <input type="text" name="v25" id="V25"><br><br>
                    <label for="v26">V26: </label>
                    <input type="text" name="v26" id="v26"><br><br>
                    <label for="v27">v27: </label>
                    <input type="text" name="v27" id="v27"><br><br>
                    <label for="v28">v28: </label>
                    <input type="text" name="v28" id="v28"><br><br>
                    <label for="amount">Amount: </label>
                    <input type="text" name="amount" id="amount"><br><br>
                    <label for="time">Time: </label>
                    <input type="text" name="time" id="time"><br><br>
                </div>
            </div>
            <button type="button" onclick="alert('Checking')">Predict</button>            
        </form>
    </body>
</html>